html, body {
    margin: 0;
    padding: 0;
}
.navbar-nav {
   margin: 0 auto;
}
.socials-icone {
    list-style: none;
}
.socials-box {
    text-align: right;
    margin-right: 20px;
}
@media screen and (max-width: 768px) {

    .visuel-anjara {
        height: 400px;
        width: 100%;
        margin-top: -145px;
        z-index: 2;
    }
    .photo-box {
        height: 400px;
    }
    .socials-box {
        z-index: 1;
    }
    .description-box {
        margin: 0 auto;
        margin-top: -120px;
    }
    .title-website {
        text-align: center;
    }
    .description-main-page {
        max-width: 250px;
        margin: 0 auto;
        text-align: justify;
    }

}
@media screen and (min-width: 769px){

    .photo-box {
        margin-top: -150px;
        background-color: rgba(178, 184, 190, 0.875);
        position: relative;
      
    }
    .description-box {
        position: absolute;
        background-color: white;
        top: 310px;
        left: 35%;
        width: 300px;
        z-index: 1;
        margin-top: -40px;
        
    }
    .visuel-anjara {
        max-width: 600px;
        height: 300px;
        margin-left: 35%;
      
    }
    .bio-main-page {
        text-align: center;
        background-color: white;
       
    }
    .description-main-page {
        max-width: 400px;
        margin: 0 auto;
    }
}