html, body {
    margin: 0;
    padding: 0;
}
.navbar-nav {
   margin: 0 auto;
}
.socials-icone {
    list-style: none;
}
.socials-box {
    text-align: right;
    margin-right: 20px;
}
@media screen and (max-width: 768px) {

    /* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  

    .visuel-anjara {
        height: 390px;
        width: 100%;
    }
    .photo-box {
        height: 400px;
    }
   
    .description-box {
        margin: 0 auto;
        margin-top: 40px;
    }
    .title-website {
        text-align: center;
    }
    .description-main-page {
        max-width: 250px;
        margin: 0 auto;
        text-align: justify;
        margin-bottom: 90px;
    }
    iframe {
        margin: auto;
    }
    .socials-box {
        display: none;
    }
    .socials-list-footer {
      display: inline-flex;
      padding-top: 90px;
      
       
    }
    .title-bio {
        text-align: center;
        margin-top: 30px;
    }
    .full-bio {
        text-align: justify;
    }
    .text-fullbio {
        max-width: 300px;
        margin: auto;
    }
    /* PAGE MUSIQUE*/

    .title-ep {
        text-align: center;
        margin: 30px 0 30px 0;
    }
    .title-videoclip {
        text-align: center;
        margin: 100px 0 40px 0;
    }
    .clip-YT {
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .btn-click {
        height: 50px;
        width: 300px;
        background-color: black;
        border-radius: 50px;
        margin: auto;
        font-size: 25px;
        color: white;
        padding-bottom: 15px;
        
    }

    /* PAGE CONCERTS*/

    .title-concerts {
        text-align: center;
        margin-top: 70px;
        font-size: 50px;
    }
    .concerts-announcement {
        font-size: 30px;
    }
    .date-concert {
        font-size: 50px;
        font-weight: bold;
    }
    .place-concert {
        font-size: 25px;
    }
    .planning-concerts {
        border-top: 1px solid black;
        width: 500px;
        margin: 0 auto;
    }
    .divider {
        height: 1px;
        width: 500px;
        background-color: black;
    }
    /* PAGE MÉDIAS*/

    .title-interviews {
        text-align: center;
        margin-top: 90px;
    }

    /* PAGE CONTACT*/

    .title-contact, .booking-contact, .title-infos {
        text-align: center;
        margin-top: 40px;
    }
    footer {
        width: 100%;
        height: 200px;
        margin-top: 400px;
        display: flex;
        justify-content: center;
    }
    .FB-icone, .IG-icone, .Tiktok-icone, .YT-icone {
        margin: 0 5px 0 5px;
    }

}
@media screen and (min-width: 769px){

    #closeBtn {
        display: none;
    }
    #mySidenav {
        text-align: center;
        margin-bottom: 40px;
    }
    .nav-list {
        margin-top: 20px;
    }
    .menu-list {
        list-style: none;
    }
    .link-nav {
        text-decoration: none;
        color: black;
        margin: 0 15px 0 15px;
    }
    .link-nav:hover {
        color:#818181;
    }
    a.active {
        text-decoration: underline;
    }
    .menu-list {
        display: inline-block;
    
        
    }
    .socials-box {
        position: fixed;
        z-index: 1;
       
        
    }
    .photo-box {
        margin-top: 40px;
        background-color: rgba(178, 184, 190, 0.875);
        position: relative;
        width: 100%;
        height: 50%;
    }
    .visuel-anjara {
        
        width: 100%;
    }
    .description-box {
        position: absolute;
        background-color: white;
        width: 700px;
        top: 1120px;
        left: 20%;
        z-index: 1;
        
    }
    .title-website {
        text-align: center;
        margin-top: 50px;
        font-size: 60px;
    }
    .description-main-page {
        max-width: 500px;
        text-align: justify;
        padding: 25px;
    }
    .bio-main-page {
        margin-left: 90px;
    }
   /* AUDIO PLAYER*/

   .audio-player-container  {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 30px;
    background: #0d0c0f;
    background: linear-gradient(132deg, #0d0c0f 6%, #283339 61%, #29343a 95%);
    margin-top: 250px;
    margin-bottom: 90px;
}
  
  .thumbnail-container {
    border-radius: 15px;
    user-select: none;
    padding: 20px 20px 10px;
  }
  .thumbnail {
    border-radius: 15px;
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 17px 36px #00000080;
  }
  .music-info {
    padding: 20px 50px 50px;
  }
  .top-information {
    display: flex;
    justify-content: space-between;
  }
  .music-title {
    color: #fff;
    font-size: 25px;
  }
  .artist-name {
    color: #666568
  }
  .current-index {
    color: #d2d2d2;
    font-weight: 100;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 2px;
  }
  
  .progress-container {
    position: relative;
    margin: 35px 0 60px;
    background-color: #727377;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  .progress-bar {
    position: relative;
    height: 5px;
    border-radius: 5px;
    background: #4a8ea3;
    transform-origin: left;
    transform: scaleX(0);
    background: linear-gradient(99deg, #4a8ea3, #6dd6ef 100%);
  }
  
  .time-indicator {
    position: absolute;
    top: 10px;
    font-size: 14px;
    color: #666568;
    pointer-events: none;
  }
  .duration-time {
    right: 0;
  }
  
  .navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  button img {
    width: 25px;
    pointer-events: none;
  }
  .shuffle {
    position: absolute;
    left: 0;
  }
  .shuffle svg {
    width: 20px;
  }
  .shuffle svg {
    fill: #545454;
    transition: fill 0.2s ease-in-out;
  }
  .shuffle.active svg {
    fill: #fff;
  }
  
  .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background: rgba(113,247,249);
    background: linear-gradient(130deg, #71f7f9, #bdfcfe);
    margin: 0 15px;
  }
  .play-btn img {
    width: 40px;
    height: 40px;
  }
    .socials-list-footer {
        display: none;
    }
}